<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Welcome to SocialTrade VR</title>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"> </script>
    <link rel="stylesheet" href="/bootstrap4.css">
    <script src="/bootstrap4.min.js"></script>
    <link rel="stylesheet" href="/font-awesome.min.css">
    <link rel="stylesheet" href="/landing-style.css">
    <script src="/landing-main.js"></script>
</head>

<body>
    <div class="site-wrapper">
        <div class="site-wrapper-inner">
            <div class="cover-container">
                <div class="masthead clearfix">
                    <div class="inner">
                        <ul class="nav masthead-nav">
                            <li>
                                <button type="button" class="btn btn-success btn-small" data-toggle="modal" data-target="#about">About  <i class="fa fa-address-card-o" aria-hidden="true"></i></button>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="inner cover">
                    <h1 class="cover-heading">SocialTrade VR</h1>
                    <p class="lead">
                        <button type="button" class="btn btn-secondary btn-xlarge" data-toggle="modal" data-target="#howto">
                            How To <i class="fa fa-question-circle-o" aria-hidden="true"></i>
                        </button>
                        <a class="btn btn-xlarge btn-primary" href="/go">
                            Enter VR <i class="fa fa-simplybuilt fa-flip-vertical" aria-hidden="true"></i>
                        </a>
                    </p>
                </div>
                <!-- How-to Modal -->
                <div class="modal" id="howto" tabindex="-1" role="dialog" aria-labelledby="howtoLabel1" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content body-text">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                <h4 class="body-text modal-title" id="howtoLabel1">How to Use SocialTrade VR</h4>
                            </div>
                                 <p>
                                    This product is based on the <a href=http://www.socialtrade.com>SocialTrade</a> web site, 
                                     which was created for stock, options, and futures traders. Over the years, tens of thousands of charts
                                    and graphics have been posted and are available to you now in the virtual world.
                                </p>
                                <p>
                                    This site has been designed principally for the <a href=https://www.vive.com/us/>HTC Vive</a>, since that currently offers
                                    the most compelling experience. However, you can also navigate the site on your 
                                    computer's browser, with an Android phone, or an iPhone (using the Chrome app). 
                                    Specific platform notes are at the bottom of this window.
                                </p>
                                <p>
                                   Navigating within SocialTrade is simple. You will first be presented with <B>six general categories</B> of 
                                    content (Analytics, Business, Government, Other, Patterns, Trading Instruments). Click on any of those, and 
                                    the <B>sub-categories</B> will be loaded (remember to look above the first "level" of boxes, since there may be more 
                                    stacked above). The most important thing to know about navigation is that you <em>click 
                                    on the white buttons below each image, not the image itself</em>. 
                                </p>
                                <p>
                                    After you have drilled down from the category you want, and then the sub-category, you will be presented 
                                    with as many as fifty individual charts. Look up and see how tall the images go. <B>You can click on any of
                                    the description boxes to "zoom up"</B> to that level. Once you are at the very top, you may see a <B>large green
                                    arrow</B> which allows you to load the next set of fifty charts. Please note that these are in reverse chronological 
                                    order, which means you see the most recent items first and can progress backwards in time as many 
                                    years as you like.
                                </p>
                                <p>
                                    The last navigation tip to keep in mind is <B>how to go backward</B>. At all times there is a "floor" beneath you. 
                                    You can click on this floor to be <B>transported back to the ground level</B>. This is particularly useful 
                                    when you are floating very high up. Also, in the center of the floor is a <B>sphere that has the word 
                                    "Back"</B> printed on it. Clicking this sends you back: for example, to the next level higher in in the hierarchy, 
                                    or to the prior 50 charts that were displayed.
                                </p>
                                <p>
                                    If you have any feedback or questions, we would be delighted to hear from you. Just send an email 
                                    to <a href=mailto:tim@socialtrade.com>tim@socialtrade.com</a>, and we promise a swift reply.
                                </p>
                                <div class="modal-header">
                                    <b>Platform Notes</b>
                                </div>
                                <p>
                                    <b>PC: </b> You're good to go! Close this box and hit "Enter VR". For fullscreen, hit
                                    the bottom-right button that looks like VR goggles. You can use the arrow keys to move.
                                    Use the mouse to look around.
                                </p>
                                <p>
                                    <b>iPhone: </b> If you're on Safari on iPhone, please download Chrome from the App Store,
                                    then take a look at the Mobile section on this page.
                                </p>
                                <p>
                                    <b>Mobile: </b> Tilt your phone around to look around. If you have VR goggles like Google
                                    Cardboard, put them on and press the "VR" button in the bottom-right corner of the screen.
                                    Looking at a white button for long enough is the same as a click.
                                </p>
                                <p>
                                    <b>HTC Vive: </b> Make sure SteamVR is running and your headset is being tracked. Because
                                    current browsers don't yet support the controllers, download a development build <a href="https://drive.google.com/drive/folders/0BzudLt22BqGRbHdGOTdiaTBkZXM">here</a>.
                                    Extract the file and go to Chrome-bin, then launch "chrome.exe". Navigate back to this
                                    site. Click "Enter VR", and click the goggles in the bottom-right corner. Check the HTC
                                    Vive goggles. If something is going wrong, please reload the page.
                                </p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- About modal -->
                <div class="modal fade" id="about" tabindex="-1" role="dialog" aria-labelledby="aboutLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                <h4 class="modal-title" id="aboutLabel">About</h4>
                            </div>
                            <div class="modal-body body-text">
                                <p>
                                    <i class="fa fa-lightbulb-o"></i>: Tim Knight (<a class="body-text" href="mailto:tim@timknight.com">tim@timknight.com</a>)
                                </p>
                                <p>
                                    <i class="fa fa-code"></i>: <a class="body-text" href="https://github.com/hyperdo">github.com/hyperdo</a>
                                </p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mastfoot">
                    <p>Copyright © SocialTrade Corporation, 2016-2017</p>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
